Honeycomb/CrawlerClient/Service References/CrawlerServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteCrawlerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRemoteCrawler_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Honeycomb" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteCrawler_ReturnIntermediateResults_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnIntermediateResults" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_ReturnCrawlingResults_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCrawlingResults" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_ReturnCrawlingResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCrawlingResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_StartTestCrawl_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartTestCrawl" />
  </wsdl:message>
  <wsdl:message name="IRemoteCrawler_StartCrawling_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartCrawling" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IRemoteCrawler">
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ReturnIntermediateResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteCrawler/ReturnIntermediateResults" message="tns:IRemoteCrawler_ReturnIntermediateResults_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ReturnCrawlingResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteCrawler/ReturnCrawlingResults" message="tns:IRemoteCrawler_ReturnCrawlingResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteCrawler/ReturnCrawlingResultsResponse" message="tns:IRemoteCrawler_ReturnCrawlingResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteCrawler/Join" message="tns:IRemoteCrawler_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteCrawler/JoinResponse" message="tns:IRemoteCrawler_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteCrawler/Leave" message="tns:IRemoteCrawler_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartTestCrawl">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteCrawler/StartTestCrawl" message="tns:IRemoteCrawler_StartTestCrawl_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartCrawling">
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteCrawler/StartCrawling" message="tns:IRemoteCrawler_StartCrawling_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRemoteCrawler" type="tns:IRemoteCrawler">
    <wsp:PolicyReference URI="#NetTcpBinding_IRemoteCrawler_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReturnIntermediateResults">
      <soap12:operation soapAction="http://tempuri.org/IRemoteCrawler/ReturnIntermediateResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReturnCrawlingResults">
      <soap12:operation soapAction="http://tempuri.org/IRemoteCrawler/ReturnCrawlingResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IRemoteCrawler/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IRemoteCrawler/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartTestCrawl">
      <soap12:operation soapAction="http://tempuri.org/IRemoteCrawler/StartTestCrawl" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCrawling">
      <soap12:operation soapAction="http://tempuri.org/IRemoteCrawler/StartCrawling" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteCrawlerService">
    <wsdl:port name="NetTcpBinding_IRemoteCrawler" binding="tns:NetTcpBinding_IRemoteCrawler">
      <soap12:address location="net.tcp://localhost:22222/chatservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:22222/chatservice</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>